.password {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    flex-wrap: wrap;
}

.password label {
    padding-top: 10px;
    color: #777;
    display: block;
    padding-bottom: 10px;
}

.password input {
    background: #f2f2f2;
    border: 0;
    width: 300px;
    padding: 14px;
    margin: auto;
    border-radius: 8px;
    font-size: 1.2rem;
    outline: none;
    color: #777;
}

.password input:focus {
    border-bottom: 1px solid #7dd56f;
}

.password .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 8%;
}

.password .buttons .btn {
    padding: 12px;
    border: 0;
    text-transform: uppercase;
    border-radius: 12px;
    background: #7dd56f;
    color: #fff;
    width: 150px;
}