.profile {
    display: flex;
    margin: auto;
    padding: 3%;
    justify-content: center;
    height: 100vh;
}

.profile hr {
    width: 100%;
    margin-top: 10%;
}

.profile .bars {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 20%;
    background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
}

.profile .bars nav {
    margin-top: 25%;
}

.profile .bars nav li {
    margin-top: 10%;
    margin-left: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
}

.profile .bars nav li i {
    margin-right: 8%;
}

.profile .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.profile .settings h1 {
    color: rgb(125,213,111);
    text-transform: uppercase;
    margin-top: 10%;
}
